@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    overflow-y: scroll;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input, textarea,{
	margin: 0;
	padding: 0;
}

ol, ul{
    list-style:none;
}

table{
    border-collapse: collapse; 
    border-spacing:0;
}

caption, th{
    text-align: left;
}
a{
	text-decoration:none;
}
a:focus {
	outline:none;
}

.both{
	clear:both;
}

.inline_block {  
	display: inline-block;  
	*display: inline;  
	*zoom: 1;  
}
@font-face
{
	font-family: mplus-2c-light;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-2c-light.ttf');
}
body {
  color: #333;
}
h1{
  font-family: mplus-2c-light,sans-serif;
}
/* -- GENERAL -- */
.flL{
	float:left;
}
.flR{
	float:right;
}
.pfix{
	position:fixed;
	top:10px;
	z-index: -1;
}
.circle img, .circle .vector{
	width:100%;
	opacity:0;
}

/* -- CLEAR FIX -- */
.clearfix:after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
.clearfix {
    min-height: 1px; /*IE6、7対策*/
}
* html .clearfix {
    height: 1px;
    /*¥*//*/ /*MAC IE5.x対策*/
    height: auto;
    overflow: hidden;
    /**/
}
/* ---- */

/* -- 間のイラスト -- */
.bg-1{
  background: #F8D0D1 url(../img/bg_1.jpg) no-repeat 50% 0;
}
.bg-2{
  background: #F8D0D1 url(../img/bg_2.jpg) no-repeat 50% 0;
}
.bg-3{
  background: #F8D0D1 url(../img/bg_3.jpg) no-repeat 50% 0;
}
.bg-4{
  background: #F8D0D1 url(../img/bg_4.jpg) no-repeat 50% 0;
}

/***************************/
/*RAYOUT                   */
/***************************/
body, html {
  width: 100%;
}
.header {
  position: relative;
  width: 100%;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
section {
  padding: 70px 0;
  z-index: 5;
}
section.image {
  background-attachment: fixed;
  background-size: cover;
  font-size: 0;
  padding: 0;
  z-index: 2;
}
section h1{
	font-family: "トンネル 細線","Tunnel Tightline";
	text-align:center;
}
.inner_section{
  width:600px;
  margin:0 auto;
}

/***************************/
/*MENU                   */
/***************************/
header{
	background:#f61142;
	height:110px;
}
header li{
	float:left;
	margin:20px;
}
header li a{
	font-family: 'Quicksand', sans-serif;
	color:#fff;
	font-weight:700;
	font-size:18px;
}
/***************************/
/*イントロ                   */
/***************************/

#intro {
}

/***************************/
/*キャラクター             */
/***************************/
.circle{
	width:280px;
}
.circle:first-child{
	margin-right:40px;
}
.onScreen .circle{
	
}

/* -- 共通アニメーション -- */
.onScreen img,
.onScreen .p_detail {
	opacity: 1;
	background:none;
}
.onScreen .vector{
	opacity: 1;	
	stroke: #000;
	fill: rgba(255, 255, 255, 0);
	stroke-width: 0.5;
	stroke-dasharray: 3000;
	stroke-dashoffset: 3000;
	-webkit-animation: DASH 1s ease-in 0s 1 normal forwards;
	animation: DASH 2s ease-in 0s 1 normal forwards;
}
@keyframes DASH{
  0% {stroke-dashoffset: 3000;}
  /*30% {stroke-width: 0;}
  50% {stroke-width: 0;fill: black;}
  60% {fill: black;stroke-width: 0;}
  80% {stroke-dashoffset: 0;fill: black;stroke-width: 0;}*/
  100% {stroke-dashoffset: 0;/*fill: black;*/stroke-width: 0;}
}
@-webkit-keyframes DASH{
  0% {stroke-dashoffset: 3000;}
  /*30% {stroke-width: 0;}
  50% {stroke-width: 0;fill: black;}
  60% {fill: black;stroke-width: 0;}
  80% {stroke-dashoffset: 0;fill: black;stroke-width: 0;}*/
  100% {stroke-dashoffset: 0;/*fill: black;*/stroke-width: 0;}
}


